<section class="bp-product-details">
  <div class="bp-product-details__inner">
    <div class="bp-tabs">
      <input type="radio" class="bp-tabs__checkbox" name="bp-tabs" id="bp-tabs__how-it-works" checked="checked" />
      <label class="bp-tabs__title" for="bp-tabs__how-it-works" tabindex="0">How It Works</label>
      <div class="bp-tabs__content bp-tabs__content--how-it-works">
        <div class="bp-tabs-row">
          <div class="bp-tabs__image">
            <img alt="" class="bp-tabs__img bp-tabs__img--desktop lazyload" data-srcset="{{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '300x' }} 300w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '400x' }} 400w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '500x' }} 500w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '600x' }} 600w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '700x' }} 700w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '800x' }} 800w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '900x' }} 900w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_img_url : '1000x' }} 1000w,
                  {{ 'reskin-product-landingpage-features-hassle-free.jpg' | asset_url }} 1100w" data-sizes="auto" />
            <img alt="" class="bp-tabs__img bp-tabs__img--mobile lazyload" data-srcset="{{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '300x' }} 300w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '400x' }} 400w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '500x' }} 500w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '600x' }} 600w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '700x' }} 700w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '800x' }} 800w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '900x' }} 900w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_img_url : '1000x' }} 1000w,
                  {{ 'reskin-product-landingpage-illustration-2.png' | asset_url }} 1100w" data-sizes="auto" />
          </div>
          <div class="bp-tabs__text">
            <ul class="bp-tabs__list">
              <li>Willow is unique because everything works inside the Pump and inside your bra, with no external tubes, cords, or dangling bottles to hold you back</li>
              <li>Align Willow with your breast and secure inside your nursing bra.  Milk flows into the spill-proof Milk Bag tucked securely inside the Pump.</li>
              <li>Pump wherever the day takes you! Lie down or bend over – pump in any position without leaking</li>
            </ul>
          </div>
        </div>
      </div>

      <input type="radio" class="bp-tabs__checkbox" name="bp-tabs" id="bp-tabs__whats-included" />
      <label class="bp-tabs__title" for="bp-tabs__whats-included" tabindex="0">What's Included</label>
      <div class="bp-tabs__content bp-tabs__content--whats-included">
        <div class="bp-tabs-row">
          <div class="bp-tabs__image">
            <img alt="" class="bp-tabs__img lazyload" data-srcset="{{ 'reskin-page-buy-pump-kit.jpg' | asset_img_url : '300x' }} 300w,
                {{ 'reskin-page-buy-pump-kit.jpg' | asset_img_url : '400x' }} 400w,
                {{ 'reskin-page-buy-pump-kit.jpg' | asset_img_url : '500x' }} 500w,
                {{ 'reskin-page-buy-pump-kit.jpg' | asset_img_url : '600x' }} 600w,
                {{ 'reskin-page-buy-pump-kit.jpg' | asset_url }} 700w" data-sizes="auto" />
          </div>
          <div class="bp-tabs__text">
            <ul class="bp-tabs__list bp-tabs__list--unstyled">
              <li>2 Willow Pumps</li>
              <li>2x 24mm Flanges <small class="bp-help-text">(27mm Flanges Ship Separately)</small></li>
              <li>2 Flextubes™</li>
              <li>Charger</li>
              <li>24 4 oz. Milk Bags</li>
              <li>2 Cleaning Brushes</li>
              <li>2 Carrying Bags</li>
            </ul>
          </div>
        </div>
      </div>

      <input type="radio" class="bp-tabs__checkbox" name="bp-tabs" id="bp-tabs__details" />
      <label class="bp-tabs__title" for="bp-tabs__details" tabindex="0">Details</label>
      <div class="bp-tabs__content bp-tabs__content--details">
        <ul class="bp-tabs__list">
          <li>Product size [FPO]</li>
          <li>Connects to the Willow App, compatible with Ios</li>
          <li>Only two parts to clean. Dishwasher safe.</li>
          <li>BPA Free</li>
          <li>Rechargeable. Battery charge lasts up to 5 pumping sessions</li>
          <li>One year warranty from first use.</li>
        </ul>
      </div>

      <input type="radio" class="bp-tabs__checkbox" name="bp-tabs" id="bp-tabs__faqs" />
      <label class="bp-tabs__title" for="bp-tabs__faqs" tabindex="0">Faqs</label>
      <div class="bp-tabs__content bp-tabs__content-faqs">
        <div class="bp-faqs">
          <div class="bp-faqs__question">Is Willow covered by insurance?</div>
          <div class="bp-faqs__answer">
            Some women have told us they have been able to obtain full or partial reimbursement for their Willow Pump through insurance.
            We recommend you contact your insurance provider to see if they will cover some or all of the cost of the pump.
          </div>
          <div class="bp-faqs__question">Can I use my HSA/FSA?</div>
          <div class="bp-faqs__answer">
            Yes you can. Simply pay for your breast pump, milk bags, and accessories using your FSA/HSA debit card at checkout,
            or pay with another credit card and submit your receipt to your plan administrator for reimbursement.
          </div>
          <div class="bp-faqs__question">Do you offer financing?</div>
          <div class="bp-faqs__answer">Yes! We partner with Affirm to offer payment plans for the Willow Wearable Breast Pump.</div>
          <div class="bp-faqs__question">What does the Willow App do?</div>
          <div class="bp-faqs__answer">
            As the Willow Wearable Breast Pump works inside your bra, the Willow App displays what is happening.
            See things such as milk volume, pumping time and past pumping sessions.
            Compatible with iOS (iPhone 5 or newer) and Android (check if your Android smartphone is compatible <a href="#">here</a>).
          </div>
          <div class="bp-faqs__question">What Flange sizes do you offer and how do I know it will fit?</div>
          <div class="bp-faqs__answer">Willow offers 24mm & 27mm Flanges. Unsure of your size? Our <a href="#" class="js-size-guide-button">Sizing Guide</a> can help.</div>
          <div class="bp-faqs__question">Does Willow work with larger breast sizes?</div>
          <div class="bp-faqs__answer">Yes. Willow was designed to work with larger breast sizes including G and H bra cups. See our <a href="#" class="js-size-guide-button">Sizing Guide</a> for fitment.</div>
          <div class="bp-faqs__question">How many ounces does the Milk Bag hold?</div>
          <div class="bp-faqs__answer">The Milk Bag holds up to 4 oz. If you pump more than 4 oz., you can switch out bags and keep pumping into a new one.</div>
          <div class="bp-faqs__question">What bra should I use?</div>
          <div class="bp-faqs__answer">We recommend wearing Willow with a full-coverage nursing bra that’s stretchy and has a flap. Avoid underwire and padded bras.</div>
          <div class="bp-faqs__question">Can you ship Willow internationally?</div>
          <div class="bp-faqs__answer">Not at this time, but our goal is to get Willow into the hands of women around the world—so it’s something we hope to offer in the future.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bp-product-awards">
  <div class="bp-product-awards__inner">
    <h1 class="bp-product-awards__title">Awards & Accolades</h1>
    <div class="bp-product-awards__slider js-bp-product-awards-slider">
      {% assign awards_images = 'the-bump.png|what-to-expect.png|mom-picks.png' | split : '|' %}
      {% assign n = 2 %}

      {% for i in (0..n) %}
        <div class="bp-product-awards__slide">
          <img class="bp-product-awards__img lazyload" alt="" data-srcset="{{ awards_images[i] | asset_url }}" />
        </div>
      {% endfor %}

      {% assign awards_images = nil %}
      {% assign n = nil %}
    </div>
  </div>
</section>
