<script>
  window.lazySizesConfig = window.lazySizesConfig || {};

  //page is optimized for fast onload event
  lazySizesConfig.loadMode = 1;
</script>

<style>
  .lazyload,
  .lazyloading {
    opacity: 0;
  }

  .lazyloaded {
    opacity: 1;
  }
</style>

{{ '//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}
{{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.5/plugins/unveilhooks/ls.unveilhooks.min.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.5/plugins/bgset/ls.bgset.min.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.5/lazysizes.min.js' | script_tag }}

<script>
  $(document).ready(function() {
    // images slider
    const $slider = $('.js-bp-images-slider');
    const $nav = $('.js-bp-images-nav');

    $slider.slick({
      arrows: false,
      dots: false,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 5000,
      asNavFor: $nav
    });

    $nav.slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: $slider,
      dots: false,
      arrows: false,
      infinite: true,
      centerMode: true,
      focusOnSelect: true,
      variableWidth: true
    });

    // awards section slider
    const $awardsSliders = $('.js-bp-product-awards-slider');

    $awardsSliders.slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: true,
      infinite: true,
      speed: 500,
      autoplay: true,
      autoplaySpeed: 5000,
      centerMode: true,
      focusOnSelect: true,
      variableWidth: true,
      nextArrow: '<a href="#" class="bp-product-awards__slider-arrow bp-product-awards__slider-arrow--next"></a>',
      prevArrow: '<a href="#" class="bp-product-awards__slider-arrow bp-product-awards__slider-arrow--prev"></a>'
    });

    // fix responsive tab
    const $window = $(window);
    const fixResponsiveTab = () => {
      if ($window.width() < 768) {
        $('.bp-tabs__checkbox').attr('type', 'checkbox');
      } else {
        var $checkboxes = $('.bp-tabs__checkbox');

        $checkboxes.attr('type', 'radio');

        if (!$checkboxes.is(':checked')) {
          $checkboxes.first().prop('checked', true);
        }
      }
    };

    $window.on('resize', fixResponsiveTab);
    $window.trigger('resize');

    // Assign the flange change option
    const $flangeSelect = $('input[name="flange[]"]');

    $flangeSelect.change(function() {
      const sku = $(this).attr('data-sku');
      const $flangeInput = $(this).closest('form').find('.js-flange-sku');

      if (sku !== 'null') {
        $flangeInput.removeAttr('disabled');
      } else {
        $flangeInput.attr('disabled', 'disabled');
      }
    });

    // add to cart button
    const $addCartBtn = $('.js-bp-product-add-to-cart');
    const $form = $('.js-bp-product-form');

    $addCartBtn.on('click', function() {
      $form.submit();
    });

    // Modal
    const modalActiveClass = 'reskin-modal--active';
    const modalActiveBodyClass = 'is-reskin-modal-active';
    const $sizeGuideModal = $('.js-size-guide-modal');
    const $sizeGuideModalCloseButton = $('.js-size-guide-close');
    const $sizeGuideButton = $('.js-size-guide-button');

    if ($sizeGuideModal.length) {
      if ($sizeGuideButton.length) {
        $sizeGuideButton.on('click', function (e) {
          e.preventDefault();
          showModal($sizeGuideModal);
        });
      }
      if ($sizeGuideModalCloseButton.length) {
        $sizeGuideModalCloseButton.on('click', function (e) {
          e.preventDefault();
          hideModal($sizeGuideModal);
        });
      }
    }

    // generation 2.0 modal
    const $gen2Modal = $('.js-bp-modal-generation-2');
    const $gen2ModalCloseButton = $('.js-bp-modal-close, .js-bp-modal-overlay');
    const $gen2Button = $('.js-bp-generation-2-button');

    if ($gen2Modal.length) {
      if ($gen2Button.length) {
        $gen2Button.on('click', function(e) {
          e.preventDefault();
          showModal($gen2Modal);
        });
      }
      if ($gen2ModalCloseButton.length) {
        $gen2ModalCloseButton.on('click', function(e) {
          e.preventDefault();
          hideModal($gen2Modal);
        })
      }
    }

    var showModal = function ($modal) {
      $modal.addClass(modalActiveClass);
      $('body').addClass(modalActiveBodyClass);
      // click.closeModal is a jquery Namespace feature that allows us to
      // safely remove this specific click event without unintentially destroying
      // other event listeners
      // @see https://stackoverflow.com/questions/28167017/remove-specific-jquery-click-event-from-element
      $nav.on('click.closeModal', function (e) {
        hideModal($modal)
      })
    };

    var hideModal = function ($modal) {
      $modal.removeClass(modalActiveClass);
      $('body').removeClass(modalActiveBodyClass);
      $nav.off('click.closeModal');
    };

    var scrollToEl = function(el, isOnDesktop) {
      if (!el.length || ($(window).width() >= 768 && !isOnDesktop)) {
        return;
      }
      var speed = 500;
      var topOffset = $(window).width() >= 600 ? 160 : 105;
      $('html, body').animate({
        scrollTop: el.offset().top - topOffset
      }, speed);
    };

    // affirm financing
    _affirm_config = {
      public_api_key: "K0BBOJJDQDXNN964",
      script: "https://cdn1.affirm.com/js/v2/affirm.js"
    };
    (function (l, g, m, e, a, f, b) { var d, c = l[m] || {}, h = document.createElement(f), n = document.getElementsByTagName(f)[0], k = function (a, b, c) { return function () { a[b]._.push([c, arguments]) } }; c[e] = k(c, e, "set"); d = c[e]; c[a] = {}; c[a]._ = []; d._ = []; c[a][b] = k(c, a, b); a = 0; for (b = "set add save post open empty reset on off trigger ready setProduct".split(" "); a < b.length; a++)d[b[a]] = k(c, e, b[a]); a = 0; for (b = ["get", "token", "url", "items"]; a < b.length; a++)d[b[a]] = function () { }; h.async = !0; h.src = g[f]; n.parentNode.insertBefore(h, n); delete g[f]; d(g); l[m] = c })(window, _affirm_config, "affirm", "checkout", "ui", "script", "ready");
    console.log("after affirm");
  });
</script>
